<%- include("../includes/header") %>

<div class="container" style="margin-top: 100px; min-height: 650px;">
    <div class="row">
        <div class="col-md-12">
            <h4>Contact Page</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, veniam quo. Dolore, sit ipsum. Ducimus quibusdam, enim laborum quisquam quod cum incidunt magnam corporis repellendus ut itaque illum vero? Incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maiores est, aliquid illum pariatur architecto delectus iste omnis excepturi, reiciendis provident consequuntur explicabo itaque cumque tempore sint impedit mollitia! Earum?</p>
        </div>
    </div>
</div>

<%- include("../includes/footer") %>