<%- include("../includes/header") %>

<div class="container" style="margin-top: 100px; min-height: 650px;">
    <div class="row">
        <div class="col-md-12">
            <h3>Add New Student</h3>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="/student/save" method="post">
                    <div class="card">
                        <div class="card-header">
                            <h5>Add</h5>
                        </div>
                        <div class="card-body">
                            <div class="my-3">
                                <label>Full Name</label>
                                <input type="text" name="fullname" class="form-control" />
                            </div>
                            <div class="my-3">
                                <label>Class</label>
                                <select class="form-control" name="class">
                                    <option>Select Student Class</option>
                                    <option>Nursery</option>
                                    <option>KG-I</option>
                                    <option>KG-II</option>
                                    <% for(var i=1; i<=12; i++){ %>
                                        <option><%= i %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="my-3">
                                <label>Gender</label><br />

                                Male <input type="radio" name="gender" value="male" />
                                Female <input type="radio" name="gender" value="female" />
                            </div>
                            <div class="my-3">
                                <label>Address</label>
                                <textarea class="form-control" name="address"></textarea>
                            </div>
                            <div class="my-3">
                                <label>City</label>
                                <select class="form-control" name="city">
                                    <option>Select</option>
                                    <option>Indore</option>
                                    <option>Mumbai</option>
                                    <option>Pune</option>
                                </select>
                            </div>
                            <div class="my-3">
                                <label>Contact</label>
                                <input type="text" name="contact" class="form-control" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="submit" value="Add Student" class="btn btn-success" /> 
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</main>

<%- include("../includes/footer") %>