<%- include('header') %>
        <div class="container my-4" style="min-height: 700px;">
            <div class="row">
                <div class="col-md-12">
                    <h1>Home Page</h1>
                </div>
            </div>
        </div>
<%- include('footer') %>
