<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
        <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">My Project</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active"  href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active"  href="/employee">List</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
    