<html>
    <head>
        <style>
            body{
                background-color: #00AB40;
            }
        </style>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/help">Help</a>
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus autem illo perferendis vel vero porro sapiente animi odio nisi! Possimus vero similique culpa quisquam quaerat autem enim omnis, nesciunt maxime?</p>


        <% color.forEach((value)=>{ %>

            <h1><%= value %></h1>

        <% })   %>


        
    </body>
</html>