.bg-black{
    background-color: #131313;
}
.text-white{
    color : #f9f9f9;
}
.bg-orange{
    background-color: #ff4d00;
}
.logo{
    font-size: 22px;
    font-weight: bold;
}
.logo span{
    background-color: #131313;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #f9f9f9;
}
#menu .nav .nav-item .nav-link{
    border-radius: 5px;
    transition: 1s;
}
#menu .nav .nav-item .nav-link:hover{
    background-color: #131313;
}
.slider{
    height: 350px;
    background-image: url("../images/slider1.jpg");
    background-size: 100% 100%;
}
.text-bold{
    font-weight: bold;
    font-style: italic;
}