<%- include("../includes/header"); %>
<%- include("../includes/nav"); %>
<div class="container my-4" style="min-height: 650px;">
    <h1>Teacher View Page</h1>
</div>
<%- include("../includes/footer"); %>
        